body {
    margin: 0;
    overflow: hidden;
}

#game-area {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffe4e6;
}

#player {
    position: absolute;
    bottom: -35px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-image: url('../pictures/basket.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.falling-heart {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url('../pictures/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.falling-shield {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.falling-spikes {
    position: absolute;
    top: 0;
    width: 90px;
    height: 90px;
    font-size: 66px;
    text-align: center;
    rotate: 45deg;
}

.falling-magnet {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    transform: rotate(45deg);
}



#score, #timer {
    position: absolute;
    top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #ff6f91;
    z-index: 9;
}

#start-btn, #pause-btn{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    z-index: 9;
    background: linear-gradient(45deg, #ff9aa2, #ff6f91);
    filter:opacity(70%);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#start-btn:focus-visible, #pause-btn:focus-visible{
    outline: none !important;
}

#pause-btn {
    display: none;
}

.modal-content {
    background-color: #ffe4e6;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: none;
}

#play-again-btn, #go-back-btn {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    margin-top: 10px;
}

#play-again-btn {
    background-color: #ff6f91;
    color: white;
}

#go-back-btn {
    background-color: #ff9aa2;
    color: white;
}

a {
    color: #ff6f91;
    text-decoration:none;
}
a:hover {
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-content {
    text-align: center;
    color: white;
}

.game-title {
    font-size: 48px;
    margin-bottom: 20px;
}

#play-game-btn {
    font-size: 18px;
    padding: 15px 30px;
}

.multiplier-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.multiplier-modal .modal-content {
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    background: none;
}

.multiplier-modal .countdown {
    font-size: 40px;
    margin-top: 20px;
}

#score {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    z-index: 9;
    background: linear-gradient(45deg, #ff9aa2, #ff6f91);
    filter:opacity(70%);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#timer {
    position: absolute;
    top: 65px;
    left: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    z-index: 9;
    background: linear-gradient(45deg, #ff9aa2, #ff6f91);
    filter:opacity(70%);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#magnet-timer {
    display: none;
    position: absolute;
    top: 10px;
    left: 137px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    z-index: 9;
    background: linear-gradient(45deg, #ff9aa2, #ff6f91);
    filter:opacity(70%);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#score, #timer, #magnet-timer {
    width: 113px;
}
.falling-clock {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#shield-overlay {
    display: none;
    z-index: 1;
    pointer-events: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
}

#floating-indicators {
    position: absolute;
    pointer-events: none;
    z-index: 8;
}

.floating-text {
    position: absolute;
    font-size: 24px;
    color: white;
    animation: floatAway 2s forwards;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

@keyframes floatAway {
    0% {
        opacity: 1;
        transform: translateY(-120px);
    }
    100% {
        opacity: 0;
        transform: translateY(-170px);
    }
}

@keyframes fireAnimation {
    0% { box-shadow: 0 0 10px red, 0 0 20px orange; }
    50% { box-shadow: 0 0 20px orange, 0 0 30px yellow; }
    100% { box-shadow: 0 0 10px red, 0 0 20px orange; }
}

.fire-burn {
    animation: fireAnimation 1s infinite;
}

#fire-gif{
    display: none;
    height: 35px;
    z-index: 9;
    left: 100px;
    top: 15px;
    filter: opacity(70%);
}

.pulsating-arrow {
    position: absolute;
    font-size: 20px;
    animation: pulseArrow 3s infinite;
    z-index: 10;
    rotate: 180deg;
}

.pulsating-arrow.paused {
    animation-play-state: paused;
}

@keyframes pulseArrow {
    0% { transform: scale(0.1); }
    100% { transform: scale(2); }
}

#cloud-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    display: none;
    z-index: 9;
}


#magnet-range {
    position: absolute;
    border-radius: 50%;
    background-color: #ff6f9163;
    display: none;
    pointer-events: none;
    z-index: 8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#magnet-range.fade-in {
    animation: fadeIn 0.5s forwards;
}

#magnet-range.fade-out {
    animation: fadeOut 0.5s forwards;
}

#rotate-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#rotate-overlay img {
    width: 50%;
    max-width: 300px;
}
